<style>
    .test-image {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
.intro{
    background: grey;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 30px;
}
</style>
{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title> Gallery </title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="shortcut icon" href="{%  static 'favicon.ico' %}"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css" />


    {% endblock %}

</head>

<body style="color:white; background:black">
    {% include "navbar.html" %}

    {% block scripts %}
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    {% bootstrap_javascript %}
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
    {% endblock %}
     <div class="intro">
         <h1>PICS BAY</h1>
         <h4>Welcome to p ics bay</h4>
         <h5>Created by Zubeyr Abubakar {Moringa School}</h5>
         <h6>On 22nd July,2019</h6>
         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eros sem, tincidunt nec ipsum eget, ultricies
             dictum dolor. Maecenas mattis, justo ac volutpat euismod, velit ante ultricies quam, nec rutrum ipsum
             turpis semper orci. Sed lobortis nunc quis posuere pellentesque. Curabitur non tortor fermentum, varius
             nisl nec, rutrum sem. Praesent lectus metus, rutrum maximus sapien vitae, efficitur placerat nibh. Interdum
             et malesuada fames ac ante ipsum primis in faucibus. Maecenas quis egestas tellus. Integer et porttitor
             eros, nec gravida tortor. Donec id est fringilla, vehicula erat ac, varius mi. Donec vestibulum elementum
             risus, quis tristique dui luctus at. Ut eu faucibus arcu. Vivamus gravida lobortis tortor et aliquet. Nulla
             facilisi. Nunc tortor ligula, sodales sed ullamcorper ac, ornare sed neque. Mauris ultrices convallis
             lacinia. Duis lobortis libero at est semper, fermentum porta dolor rutrum.</p>
             <p>Vivamus id euismod nibh. Ut pellentesque dapibus nisi in sagittis. Pellentesque habitant morbi tristique
                 senectus et netus et malesuada fames ac turpis egestas. Maecenas aliquet risus eleifend tincidunt
                 scelerisque. Vivamus imperdiet velit massa, varius porttitor risus sollicitudin sed. Aenean vel risus
                 vel sapien aliquam efficitur sed at elit. Suspendisse pellentesque leo quis ex iaculis, eu maximus odio
                 sollicitudin. Quisque dignissim odio id massa lobortis lacinia.
</p>
     </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <div class="test-image">
                    <img src="https://wallpapercave.com/wp/wp2665743.jpg" alt="background" width="2000px"
                        height="2000px"> -->
                    <!-- <div class="centered"> -->
                        <div class="col-md-12-4">
                            <p id="txt" style="color:aliceblue; text-decoration-line: underline;background: black;"><strong><em>Search for
                                        photos around Kenya under different
                                        categories and places</em></strong> </p>

                            <form class="search-container" role="search" action="{% url 'search_results' %}">
                                <input style="background:skyblue" type="search" class="searchTerm"
                                    placeholder="Fitness,Cars, Food & Fashion" name="searchCategory">
                                <button type="submit" class="searchButton"> <i class="fa fa-search" style="color:black;">Search</i></button>
                            </form>

                        </div>
                    
                </div>
            </div>
        </div>

    </div>

    {% block content %}

    {% endblock %}

    </div>


</body>


</html>