<style>
    .test-image {
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>
{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title> Gallery </title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <link rel="shortcut icon" href="{%  static 'favicon.ico' %}"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css" />


    {% endblock %}

</head>

<body style="color:white; background:black">
    {% include "navbar.html" %}

    {% block scripts %}
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    {% bootstrap_javascript %}
    <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>

    {% endblock %}



    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <div class="test-image">
                    <img src="https://wallpapercave.com/wp/wp2665743.jpg" alt="background" width="2000px"
                        height="2000px"> -->
                    <!-- <div class="centered"> -->
                        <div class="col-md-12-4">
                            <p id="txt" style="color:aliceblue; text-decoration-line: underline;background: black;"><strong><em>Search for
                                        photos around Kenya under different
                                        categories and places</em></strong> </p>

                            <form class="search-container" role="search" action="{% url 'search_results' %}">
                                <input style="background:skyblue" type="search" class="searchTerm"
                                    placeholder="Fitness,Cars, Food & Fashion" name="searchCategory">
                                <button type="submit" class="searchButton"> <i class="fa fa-search" style="color:black;">Search</i></button>
                            </form>

                        </div>
                    
                </div>
            </div>
        </div>

    </div>

    {% block content %}

    {% endblock %}

    </div>


</body>


</html>