{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
</head>

<body>
    <div class="w3-bar">
        <span class="icon w3-bar-item" style="background:grey; border-radius: 20px;"><i class="far fa-images" style="background:blue"></i>pics</span>
        <a href="{% url 'initial' %}" class="navitem w3-center w3-bar-item w3-button w3-hover-grey " style="color:cornsilk; background: gray; border-radius: 30px">Gallery</a>
        <div class="w3-dropdown-click w3-right locashen">
                <button class="w3-button w3-hover-none" onclick="myFunction()" style=" color:cornsilk;
                  background: gray; border-radius: 30px;">
                  Locations <i class="fa fa-caret-down"></i>
                </button>
                <div id="demo" class="w3-dropdown-content w3-bar-block w3-card ">
                  {% for onelocation in locations %}
                  <a href="{% url 'specific_location' onelocation.lname %}" class="w3-bar-item w3-hover-amber" style="color:black; background:skyblue">{{onelocation.lname}}</a>
                  {% endfor %}
                </div>
        </div>     
    </div>

    <script>
            function myFunction() {
              var x = document.getElementById("demo");
              if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
              } else { 
                x.className = x.className.replace(" w3-show", "");
              }
            }
            </script>
            
</body>
</html>
